openapi: 3.1.0
info:
  title: LittleSkin API
  description: https://manual.littlesk.in/advanced/api
  contact:
    name: LittleSkin Support Team
    url: https://manual.littlesk.in/problems#%E6%88%91%E8%AF%A5%E5%8E%BB%E5%93%AA%E9%87%8C%E6%8F%90%E9%97%AE
    email: support@littlesk.in
  version: 0.1.5
servers:
- url: https://littleskin.cn/api
  description: Prod
paths:
  /announcements/:
    get:
      tags:
        - Announcements
      summary: Get All Announcements
      description: Get all announcements.
      operationId: get_all_announcements
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Announcement'
                type: array
                title: Response Get All Announcements
  /premium-verification/:
    get:
      tags:
        - Premium Verification
      summary: Get premium verification status
      description: |
        Check whether the user is verified as a Pro user.

        Scope: `PremiumVerification.Read`
      operationId: get_premium_verification
      security:
        - LittleSkinOAuth2: [PremiumVerification.Read]
      responses:
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '200':
          description: Verified
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IsPro'
                type: array
                title: Response Pro verified
        '404':
          description: Not Verified
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NotPro'
                type: array
                title: Response Pro not verified
  /yggdrasil/sessionserver/session/minecraft/profiles:
    get:
      tags:
        - OAuth for Yggdrasil
      operationId: get_yggdrasil_profiles
      summary: Get all Yggdrasil Profiles
      description: 获取用户名下所有角色的 Yggdrasil 档案
      security:
        - LittleSkinOAuth2: [Yggdrasil.PlayerProfiles.Read]
      responses:
        '200':
          description: OK. 用户名下的所有角色列表，详见 [Yggdrasil 服务端技术规范 - 角色信息的序列化](https://github.com/yushijinhun/authlib-injector/wiki/Yggdrasil-%E6%9C%8D%E5%8A%A1%E7%AB%AF%E6%8A%80%E6%9C%AF%E8%A7%84%E8%8C%83#%E8%A7%92%E8%89%B2%E4%BF%A1%E6%81%AF%E7%9A%84%E5%BA%8F%E5%88%97%E5%8C%96)
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerProfile'
                type: array
                title: Yggdrasil Profiles

  /yggdrasil/authserver/oauth:
    post:
      tags:
        - OAuth for Yggdrasil
      summary: Create Minecraft token
      description: |
        获取一个用于访问 Yggdrasil API 的 Minecraft 令牌（即 Yggdrasil API 中的 Access Token）

        通过该 API 创建 Minecraft 令牌时不支持指定 Client Token，只能由服务端随机生成
      operationId: post_create_minecraft_token
      requestBody:
        content:
          application/json:
            schema: 
              properties: 
                uuid:
                  type: string
                  format: uuid4
                  examples: 
                    - "58ae9588db1e46a59ffdb5239f41cdfc"
                  description: Profile UUID
      security:
        - LittleSkinOAuth2: [Yggdrasil.MinecraftToken.Create]
      responses:
        '200':
          description: 响应内容（包括错误响应）即是 Yggdrasil API 的登录 API 的响应内容，详见：[Yggdrasil 服务端技术规范 - 登录](https://github.com/yushijinhun/authlib-injector/wiki/Yggdrasil-%E6%9C%8D%E5%8A%A1%E7%AB%AF%E6%8A%80%E6%9C%AF%E8%A7%84%E8%8C%83#%E7%99%BB%E5%BD%95)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinecraftToken'
      



components:
  securitySchemes:
    LittleSkinOAuth2:
      type: oauth2
      description: LittleSkin OAuth2 - [Docs](https://manual.littlesk.in/advanced/oauth2)
      flows:
        authorizationCode:
          authorizationUrl: https://littleskin.cn/oauth/authorize
          tokenUrl: https://littleskin.cn/oauth/access_token
          refreshUrl : https://littleskin.cn/api/auth/refresh
          scopes:
            PremiumVerification.Read: Read Premium Verification status
            Yggdrasil.PlayerProfiles.Read: Read Yggdrasil Profiles
            Yggdrasil.MinecraftToken.Create: Create Minecraft token
            Yggdrasil.PlayerProfiles.Select: Select Yggdrasil Profile (unused in this page)


  schemas:
    Announcement:
      properties:
        title:
          type: string
          title: Title
        content:
          type: string
          description: with some simple html tags such as `<p>` `<ul>`, and some simple inline CSS styles.
          title: Content
        color:
          type: string
          description: colors from Bootstrap
          enum:
            - blue
            - gray
            - green
            - red
            - yellow
            - cyan
            - light
            - dark
            - white
          title: Color
        priority:
          type: integer
          minimum: 0
          title: Priority
        severity:
          type: string
          description: severity of the announcement
          enum:
            - fatal
            - warning
            - info
          title: Severity
        expand:
          type: boolean
          title: Expand
          description: whether expand
        timestamp:
          type: number
          format: timestamp
          title: Timestamp
          examples:
            - 1706369054.135084
        id:
          type: string
          format: uuid4
          title: Id
          description: Announcement Id
          examples:
            - 70c90f09-9f77-4d78-b7e4-92b4e86d8f6c
      type: object
      required:
        - title
        - content
        - color
        - priority
        - severity
        - expand
        - timestamp
        - id
      title: Announcement
    IsPro:
      properties:
        code:
          type: integer
          default: 0
          description: Status Code, always `0`
        verified:
          type: boolean
          default: true
          description: Whether Pro is Verified, `true` here
        uuid:
          type: string
          format: uuid4
          description: Player UUID from Minecraft Official
          examples:
            - 69e535e98159409e93c8d649d7355279
      type: object
      required:
        - verified
        - uuid
      title: Pro Status - Verified
    NotPro:
      properties:
        code:
          type: integer
          default: 0
          description: Status Code, always `0`
        verified:
          type: boolean
          default: false
          description: Whether Pro is Verified, `false` here
      type: object
      required:
        - verified
      title: Pro Status - Not Verified

    PlayerProfile:
      properties:
        id:
          type: string
          format: uuid4
          examples: 
            - "58ae9588db1e46a59ffdb5239f41cdfc"
          description: Profile UUID
        name:
          type: string
          examples: 
            - "PlayerA"
          description: Profile Name
        properties:
          type: array
          description: "Yggdrasil 档案（不包含签名），详见 [Yggdrasil 服务端技术规范 - 角色信息的序列化](https://github.com/yushijinhun/authlib-injector/wiki/Yggdrasil-%E6%9C%8D%E5%8A%A1%E7%AB%AF%E6%8A%80%E6%9C%AF%E8%A7%84%E8%8C%83#%E8%A7%92%E8%89%B2%E4%BF%A1%E6%81%AF%E7%9A%84%E5%BA%8F%E5%88%97%E5%8C%96)"
          items:
            properties:
              name:
                type: string
              value:
                type: string
      type: object
      required:
        - id
        - name
        - properties
      title: Yggdrasil Profile
  
    MinecraftToken:
      type: object
      properties:
        accessToken:
          type: string
        clientToken:
          type: string
        availableProfiles:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                examples: 
                  - "58ae9588db1e46a59ffdb5239f41cdfc"
              name:
                type: string
                examples: 
                  - "PlayerA"
        selectedProfile:
          type: object
          properties:
            id:
              type: string
              format: uuid
              examples: 
                - "58ae9588db1e46a59ffdb5239f41cdfc"
            name:
              type: string
              examples: 
                - "PlayerA"
      required: 
        - accessToken
        - clientToken
        - availableProfiles
        - selectedProfile
    
  responses: 
    UnauthorizedError:
      description: Unauthenticated