openapi: 3.1.0
info:
  title: LittleSkin API - Announcements
  description: https://manual.littlesk.in/advanced/api
  contact:
    name: General Support
    url: https://manual.littlesk.in/report.html#%E6%88%91%E8%AF%A5%E5%8E%BB%E5%93%AA%E9%87%8C%E6%8F%90%E9%97%AE
    email: support@littlesk.in
  version: 0.1.1
servers:
- url: https://littleskin.cn/api
  description: Prod
paths:
  /announcements/:
    get:
      tags:
        - Announcements
      summary: Get All Announcements
      description: Get all announcements.
      operationId: get_all_announcements
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Announcement'
                type: array
                title: Response Get All Announcements
components:
  schemas:
    Announcement:
      properties:
        title:
          type: string
          title: Title
        content:
          type: string
          description: with some simple html tags such as `<p>` `<ul>`, and some simple inline CSS styles.
          title: Content
        color:
          type: string
          description: colors from Bootstrap
          enum:
            - blue
            - gray
            - green
            - red
            - yellow
            - cyan
            - light
            - dark
            - white
          title: Color
        priority:
          type: integer
          minimum: 0
          title: Priority
        expand:
          type: boolean
          title: Expand
        timestamp:
          type: number
          format: timestamp
          title: Timestamp
          examples:
            - 1706369054.135084
        id:
          type: string
          format: uuid4
          title: Id
          examples:
            - 70c90f09-9f77-4d78-b7e4-92b4e86d8f6c
      type: object
      required:
        - title
        - content
        - color
        - priority
        - expand
        - timestamp
        - id
      title: Announcement
